# \[Week5] ì¶”ì²œì‹œìŠ¤í…œ  
## [ìºê¸€ ë°ì´í„°](https://www.kaggle.com/tmdb/tmdb-movie-metadata?select=tmdb_5000_movies.csv) tmdb_5000_movies.csv   
ì°¸ê³  ì‚¬ì´íŠ¸ : [[êµ¬ë¦„ Edu]](https://edu.goorm.io/learn/lecture/20671/%EB%94%A5%EB%9F%AC%EB%8B%9D-%EC%9D%B4%EB%A1%A0-%EB%B0%8F-%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%8B%A4%EC%8A%B5)

## 1. ìì—°ì–´ì²˜ë¦¬ - ë¬¸ì„œ ìœ ì‚¬ë„ (ìš©ì–´ ì •ë¦¬)

1. Bag of Words

ë‹¨ì–´ë“¤ì˜ ìˆœì„œëŠ” ì „í˜€ ê³ ë ¤í•˜ì§€ ì•Šê³ , ë‹¨ì–´ë“¤ì˜ ì¶œí˜„ ë¹ˆë„(freqeuncy)ì—ë§Œ ì§‘ì¤‘í•˜ëŠ” í…ìŠ¤íŠ¸ ë°ì´í„°ì˜ ìˆ˜ì¹˜í™” í‘œí˜„ ë°©ë²•ì´ë‹¤.

1) ë¬¸ì¥ ê°„ì˜ ìœ ì‚¬ë„ êµ¬í•˜ëŠ” ë°©ë²•

BOWë¡œ ê° ë¬¸ì¥ì„ binary vectorë¡œ í‘œí˜„í•œ í›„ ê° ì¸ë±ìŠ¤ì˜ ê°’ì„ ê³±í•˜ê³  ì „ë¶€ ë”í•œë‹¤.


e.g.

awesome thank you [1, 1, 1, 0, 0, 0, 0] <br>
great thank you &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[0, 1, 1, 1, 0, 0, 0]

1x1 + 1x1 = 2

2) ë‹¨ì

- Sparsity

If we use all English words for bag of words, the vector will be very long, but very few non zeros

ì‹¤ì œ ì‚¬ì „ì—ëŠ” 100ë§Œê°œê°€ ë„˜ëŠ” ë‹¨ì–´ë“¤ì´ ìˆì„ ìˆ˜ë„ ìˆë‹¤. ê·¸ë ‡ê²Œ ë˜ë©´ ë²¡í„°ì˜ ì°¨ì›ì´ 100ë§Œê°œê°€ ë„˜ì–´ê°€ê¸° ë•Œë¬¸ì— ì‹¤ì œ ë¬¸ì¥í•˜ë‚˜ë¥¼ í‘œí˜„í•  ë•Œ ëŒ€ë¶€ë¶„ì˜ ê°’ì´ 0ì´ê³  ê·¸ì™¸ì˜ ê°’ë“¤ì€ ìƒë‹¹íˆ ì ì„ ê²ƒì´ë‹¤. ê²°êµ­ í•™ìŠµëŸ‰ì´ ë§ì•„ì§€ê³  ì»´í“¨í„° ìì›ë„ ìƒë‹¹íˆ ë§ì´ ì‚¬ìš©í•˜ê²Œ ëœë‹¤.

e.g. the game is fun [1,1,1,1,0,0,0,0,0,0,0,,,,,,0,0,0,0,0]

- Frequent words has more power

ë§ì´ ì¶œí˜„í•œ ë‹¨ì–´ëŠ” í˜ì´ ì„¸ì§„ë‹¤. ë§Œì•½ ì˜ë¯¸ì—†ëŠ” ë‹¨ì–´ë“¤ì´ ë§ì´ ì‚¬ìš© ë˜ì—ˆë‹¤ë©´ ìš°ë¦¬ê°€ ì›í•˜ëŠ” ê²°ê³¼ë¥¼ ì–»ê¸°ëŠ” ì–´ë ¤ìš¸ ê²ƒì´ë‹¤.

- Ignoring word orders

bag of words will have same vector for totally different sentence if they have same words since it is ignoring word orders

e.g. home run VS run home

Cf. n-gramìœ¼ë¡œ ë³´ì™„ ê°€ëŠ¥

- Out of vocabulary

What if text has mis-spelling? (good moning, tank yo)

What if text is unseen from your dataset? (gr8, gooood)

Bag of words cannot handle unseen words

2. n-ê·¸ë¨

contiguous sequence of N tokens (words, characters... )

**(ì˜ˆì œ) fine thank you**  
1) 1-gram (unigram)

    1-1) Word level

    [fine,thank,you]

    1-2) Character level

    [f,i,n,e, ,t,h,a,n,k, ,y,o,u]

2) 2-gram (bigram)

    2-1) Word level

    [fine thank,thank you]

    2-2) Character level

    [fi,in,ne,e , t,th,ha,an,nk,k , y,yo,ou]

3) 3-gram (trigram)

    3-1) Word level

    [fine thank you]

    3-2) Character level

    [fin,ine,ne ,e t, th,tha,han,ank,nk ,k y, yo,you]

4) n-gram ì‚¬ìš©í•˜ëŠ” ì´ìœ ?

- Overcome bag of words drawbacks (ignoring sequence of words)

- Next word prediction

- Find Misspelling

- And more...

3. ì  A(3,4), ì  B(4,3)ì˜ cosine ìœ ì‚¬ë„ë¥¼ êµ¬í•˜ì‹œì˜¤.

{(3 * 4) + (4 * 3)} / (5 * 5) = 0.96

## 2. ì¶”ì²œì‹œìŠ¤í…œ

### 0. ì¶”ì²œì‹œìŠ¤í…œ ì¢…ë¥˜ ì •ë¦¬

1. Content-based filtering

ì•„ì´í…œì´ë‚˜ ìœ ì €ë¥¼ ë¶„ì„í•˜ì—¬ ë¹„ìŠ·í•œ ì•„ì´í…œì„ ì¶”ì²œí•œë‹¤. ì•„ì´í…œê³¼ ìœ ì €ê°„ì˜ ì•¡ì…˜ì„ ë¶„ì„í•˜ëŠ” ê²ƒì´ ì•„ë‹ˆë¼ ì»¨í…ì¸  ìì²´ë¥¼ ë¶„ì„í•˜ê¸° ë•Œë¬¸ì— ë§ì€ ì–‘ì˜ ìœ ì € ì•¡ì…˜ì„ ìš”êµ¬í•˜ì§€ ì•ŠëŠ”ë‹¤ëŠ” ì¥ì ì´ ìˆë‹¤. CFì˜ ë‹¨ì ì¸ cold startê°€ ì—†ë‹¤.

2. Collaborative filtering

ìœ ì €ì˜ í‰ê°€ ë‚´ì—­ì„ ì´ìš©í•œë‹¤. ì•„ì´í…œì´ë‚˜ ìœ ì €ì˜ ìœ ì‚¬ë„ë¥¼ ëª¨ë¸ë§í•˜ê³  ì¸¡ì •í•˜ì—¬ ì¶”ì²œí•œë‹¤.

ë‹¨ì )
- Cold start<br>
    : ìœ ì €ì˜ í‰ê°€ ë‚´ì—­ì´ í•„ìš”í•˜ë‹¤. ë°ì´í„°ê°€ ì—†ëŠ” ì„œë¹„ìŠ¤ ì´ˆê¸°ì—ëŠ” ì¶”ì²œì´ ë¶€ì •í™•í•˜ë‹¤.
- Scalability
- Sparsity

    - user-based collaborative filtering

    ìœ ì €ì˜ í–‰ìœ„ë¥¼ ì¸¡ì • ë° ë¶„ì„í•˜ê³  ì´ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ìœ ì € ê°„ ìœ ì‚¬ë„ë¥¼ ì¸¡ì •í•œë‹¤. ìœ ì‚¬ë„ê°€ ë†’ì€ ìœ ì €ì˜ ì„ í˜¸ ì•„ì´í…œë“¤ì„ ê¸°ë°˜ìœ¼ë¡œ ì¶”ì²œí•œë‹¤.

    - item-based collaborative filtering

    ì•„ì´í…œ ê°„ì˜ ìœ ì‚¬ë„ë¥¼ ì¸¡ì •í•˜ë©°, ìœ ì €ê°€ ì–´ë–¤ ì•„ì´í…œì„ ì„ í˜¸í•˜ë©´ ìœ ì‚¬í•œ ë‹¤ë¥¸ ì•„ì´í…œì„ ì¶”ì²œí•œë‹¤.

Content-based filteringì„ í•´ë´…ì‹œë‹¤.  
ë³´í†µì€ ì¥ë¥´ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë§ì´ í•˜ì§€ë§Œ, ìì—°ì–´ì²˜ë¦¬ì— ì¢€ ë” ìµìˆ™í•´ì§€ê¸° ìœ„í•´ì„œ ì¤„ê±°ë¦¬ë¥¼ ë°”íƒ•ìœ¼ë¡œ í•´ë³´ê² ìŠµë‹ˆë‹¤.  
Collaborative filteringë„ í•œë²ˆ ì§ì ‘ í•´ë³´ì„¸ìš”. ì¬ë°ŒìŠµë‹ˆë‹¤:)

### 1. CSV íŒŒì¼ ë¶ˆëŸ¬ì™€ DataFrameìœ¼ë¡œ ì €ì¥

In [26]:
import pandas as pd
movies = pd.read_csv('tmdb_5000_movies.csv')           # tmdb_5000_movies.csv dataframeìœ¼ë¡œ ì½ì–´ì˜¤ê¸°
movies = movies[["original_title", "overview"]]
movies["overview"] = movies["overview"].astype("str")
movies

,original_title,overview
0,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,The Dark Knight Rises,Following the death of District Attorney Harve...
4,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...
4798,El Mariachi,El Mariachi just wants to play his guitar and ...
4799,Newlyweds,A newlywed couple's honeymoon is upended by th...
4800,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4801,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4802,My Date with Drew,Ever since the second grade when he first saw ...

### 2. ì „ì²˜ë¦¬  
ì¶œë ¥ ì˜ˆì‹œ)

    original_title    0
    overview          3
    dtype: int64

In [27]:
# null ê°’ ê°œìˆ˜ í™•ì¸
movies.isnull().sum()

original_title    0
overview          0
dtype: int64

1) ì¤„ê±°ë¦¬ê°€ NaNì¸ **ì˜í™”** drop

In [28]:
movies[movies['overview'].isnull()]

Empty DataFrame
Columns: [original_title, overview]
Index: []

2) "overview" column ëª¨ë‘ ì†Œë¬¸ìë¡œ, ë¬¸ì+ìˆ«ì(\w)ë§Œ ë‚¨ê¸°ê³  ë‚˜ë¨¸ì§€ëŠ” ë„ì–´ì“°ê¸°ë¡œ ëŒ€ì²´

In [29]:
import re
# ë˜ë„ë¡ apply, lambda ì‚¬ìš©í• ê²ƒ!
movies['overview'] = movies['overview'].apply(lambda x: re.sub('[^a-z0-9]+', ' ', x.lower()))

### 3. TF-IDF ê³„ì‚°

1) TF ë€?

Term Frequency

TF measures how frequently a term occurs in a document

If a term occurs more times than other terms in a document, the term has more relevance than other terms for the document

2) DF ë€?

Document Frequency

ë‹¨ì–´ ìì²´ê°€ ë¬¸ì„œêµ° ë‚´ì—ì„œ ìì£¼ ì‚¬ìš©ë˜ëŠ” ê²½ìš°, ì´ê²ƒì€ ê·¸ ë‹¨ì–´ê°€ í”í•˜ê²Œ ë“±ì¥í•œë‹¤ëŠ” ê²ƒì„ ì˜ë¯¸í•œë‹¤.

3) IDF ë€?

Inverse Document Frequency

Log (Total # of Docs / # of Docs with the term in it) <br>
Cf. Docs: ë¬¸ì¥, term: ë‹¨ì–´

TF-IDF: To find how relevant a term in a document (numerically) <br>
relevant: a word relevance is the amount of info that gives about its context

ë¼ì´ë¸ŒëŸ¬ë¦¬ë¡œ ì ìš©í•´ë³´ì...

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
# ngram_range=(1, 2) ëŠ” ë‹¨ì–´ë¥¼ 1ê°œ í˜¹ì€ 2ê°œ ì—°ì†ìœ¼ë¡œ ë³´ê² ë‹¤
tfidf_vec = TfidfVectorizer(ngram_range = (1,2))        # Vectorizer ìƒì„±
tfidf_matrix = tfidf_vec.fit_transform(movies['overview'])       # Vectorizerê°€ ë‹¨ì–´ë“¤ì„ í•™ìŠµ

### 4. ì˜í™” ê°„ **cosine ìœ ì‚¬ë„**  
\[ì¶œë ¥ì˜ˆì‹œ]  

    ### COSINE Similarity ###
    [[1.         0.01513636 0.00614044 ... 0.01195144 0.00571986 0.00630023]
    [0.01513636 1.         0.01307772 ... 0.01768395 0.00997186 0.00666392]
    [0.00614044 0.01307772 1.         ... 0.01288316 0.00565125 0.00612543]
    ...
    [0.01195144 0.01768395 0.01288316 ... 1.         0.01532266 0.0089986 ]
    [0.00571986 0.00997186 0.00565125 ... 0.01532266 1.         0.01649368]
    [0.00630023 0.00666392 0.00612543 ... 0.0089986  0.01649368 1.        ]]
    [[   0 3603  634 ... 2852 3945 3386]
    ### ìœ ì‚¬ë„ ê¸°ì¤€ index ì •ë ¬ ###
    [[   0 3603  634 ... 2852 3945 3386]
    [   1 2379 2542 ... 3487 3622 3945]
    [   2 1343 3161 ... 3534 3637 3082]
    ...
    [4797 4033  569 ... 2604 3685 1658]
    [4798 2017 1480 ... 2108 1658 4511]
    [4799 2586  868 ... 3987 2192  669]]

In [31]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
plot_similarity = cosine_similarity(tfidf_matrix, tfidf_matrix)        # ì¤„ê±°ë¦¬ ê°„ cosine ìœ ì‚¬ë„ êµ¬í•˜ê¸° - tfidf_matrix ì‚¬ìš©
print("### COSINE Similarity ###")
print(plot_similarity)
similar_index = np.argsort(-plot_similarity)            # ìœ ì‚¬ë„ ë†’ì€ ìˆœì„œëŒ€ë¡œ index ì •ë ¬
print("### ìœ ì‚¬ë„ ê¸°ì¤€ index ì •ë ¬ ###") 
print(similar_index)

### COSINE Similarity ###
[[1.         0.01514414 0.00614504 ... 0.01195829 0.00572386 0.006304  ]
 [0.01514414 1.         0.01308528 ... 0.01769221 0.00997909 0.00666831]
 [0.00614504 0.01308528 1.         ... 0.01289    0.00565554 0.00612954]
 ...
 [0.01195829 0.01769221 0.01289    ... 1.         0.01532978 0.00900306]
 [0.00572386 0.00997909 0.00565554 ... 0.01532978 1.         0.01649947]
 [0.006304   0.00666831 0.00612954 ... 0.00900306 0.01649947 1.        ]]
### ìœ ì‚¬ë„ ê¸°ì¤€ index ì •ë ¬ ###
[[   0 3604  634 ... 4140 2596 2669]
 [   1 2379 2542 ...  161 2656 4458]
 [   2 1343 3162 ... 4144  159  559]
 ...
 [4800 4034  569 ... 2656 4431 1038]
 [4801 2017 1480 ... 3784 4458 2108]
 [4802 2586  868 ...  669 1273 3686]]

In [32]:
input_movie = "Avatar"          # dataì— ìˆëŠ” ì˜í™”ì˜ ì œëª©ì„ ë„£ì–´ì•¼ í•©ë‹ˆë‹¤.

movie_index = movies[movies['original_title']=='Avatar'].index[0]    # input_movieì— í•´ë‹¹í•˜ëŠ” index ê°’ ê°€ì ¸ì˜¤ê¸°
similar_movies = similar_index[movie_index][:10]        # ìœ ì‚¬ë„ ìƒìœ„ 10ê°œ index ê°€ì ¸ì˜¤ê¸°
# ì¸ë±ìŠ¤ë¡œ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” 1ì°¨ì›ìœ¼ë¡œ ë³€í˜• (Q. ì´ë¯¸ 1ì°¨ì›!!?!)
#similar_movies_index = similar_movies.reshape(-1)             # similar_movies 1ì°¨ì› ë³€í˜•
display(movies.iloc[similar_movies])

           original_title                                           overview
0                  Avatar  in the 22nd century a paraplegic marine is dis...
3604            Apollo 18  officially apollo 17 was the last manned missi...
634            The Matrix  set in the 22nd century the matrix tells the s...
529      Tears of the Sun  navy seal lieutenant a k waters and his elite ...
1013             Child 44  set in stalin era soviet union a disgraced mgb...
775             Supernova  set in the 22nd century when a battered salvag...
2130         The American  dispatched to a small italian town to await fu...
2628  Blood and Chocolate  a young teenage werewolf is torn between honor...
1341     Obitaemyy Ostrov  on the threshold of 22nd century furrowing the...
2808         The Exorcist  12 year old regan macneil begins to adapt an e...

3ì£¼ë™ì•ˆì˜ ìì—°ì–´ì²˜ë¦¬ ìŠ¤í„°ë””ê°€ ëë‚¬ìŠµë‹ˆë‹¤. ë‹¤ìŒì£¼ë¶€í„°ëŠ” ì´ë¯¸ì§€ì²˜ë¦¬ ìŠ¤í„°ë””ê°€ ì‹œì‘ë©ë‹ˆë‹¤.  
ì§§ì€ ê¸°ê°„ì´ë¼ ë§ì€ ë¶€ë¶„ì„ ë‹¤ë£¨ì§€ëŠ” ëª»í–ˆì§€ë§Œ, ì¶”í›„ì— í”„ë¡œì íŠ¸ë¥¼ ì§„í–‰í•˜ë©´ì„œ ë©¤ë²„ë“¤ë¼ë¦¬ ë”¥ëŸ¬ë‹ ë“± ì‹¬í™” ë¶€ë¶„ì„ ê³µë¶€í•˜ì‹œë©´ ë” ì¢‹ì„ ê²ƒ ê°™ìŠµë‹ˆë‹¤.  
ì¤‘ê°„ì— ì‹œí—˜ê¸°ê°„ë„ ê²¹ì³ì„œ ë°”ìœ ì™€ì¤‘ì—ë„ ê³¼ì œ ì˜ í•´ì£¼ì…”ì„œ ê°ì‚¬í•©ë‹ˆë‹¤!

\[ë‹µë³€] ì •ë§ ìˆ˜ê³  ë§ìœ¼ì…¨ìŠµë‹ˆë‹¤!!!! ê°ì‚¬í•©ë‹ˆë‹¤ğŸ’™